body{
    font-family: Arial, Helvetica, sans-serif;   
}

/*********************************************************PORTADA*/
.portada-body{
    background-image: url(img/Inicio2.png); 
    background-size: cover;/* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: center;/*La centrará*/
}
.portada{
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 700px;
    flex-direction: column;
}
.titulo-portada{
    color: #ffffff;
    font-weight: bolder;
}
.subtitulo-portada{
    color: #ffffff;
    font-weight: lighter;
    margin-top: 0%;
}
.portada-boton{
    padding: 7px 85px;
    border-radius: 25px;
    border: none;
    background-color: #f1b162;
    color: #062b60;
    font-size: 18px;
    margin: 0px 0px 0px 66px;
    cursor: pointer; /*el cursor cambia a la manito (👆)*/
    text-decoration: none;
    font-weight: 800;
    box-shadow: -5px 7px 0px 0px;
}
.portada-boton:hover{
    background-color: #fca73f;
}
.portada-boton:active{
    transform: scale(0.9);
}
/*********************************************************FORMULARIO*/
.formulario-body{
    background-image: url(img/Formulario3.png); 
    background-size: cover;/* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: center;/*La centrará*/
}
.titulo-formulario{
    text-align: center;
    margin-top: 120px;
    /*background-color: #1058d0;*/
    color: #ffffff;
    font-weight: 700;
}
.formulario{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: 330px;
    color: #062b60;
    font-weight: 700;
    font-size: 18px;
}
select{
    margin-top: 10px;
    border-radius: 10px;
    padding: 7px;
    width: 100%;
    border: 3px solid #062b60;
}
.genero{
    margin-bottom: 20px;
}
.nombre{
    margin-bottom: 20px;
}
#nombre{
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 3px solid #062b60;
}
.edad{
    margin-bottom: 50px;
}
.formulario-boton{
    text-align: center;
}
.submit-boton{
    padding: 7px 85px;
    border-radius: 25px;
    border: none;
    background-color: #f1b162;
    color: #062b60;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    box-shadow: -5px 7px 0px 0px;
}
.submit-boton:hover{
    background-color: #fca73f;
}
.submit-boton:active{
    transform: scale(0.9);
}
/*********************************************************PRODUCTO*/
.producto-body{
    background-image: url(img/Selección\ de\ bicis1.png); 
    background-size: cover;/* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: center;/*La centrará*/
}
.producto{
    display: grid;
    justify-content: center;
}
.titulo-producto{
    font-family: Arial, Helvetica, sans-serif;   
    text-align: center;
    margin-top: 120px;
    color: #ffffff;
    font-weight: 700;
}
button.btn.btn-primary{
    margin: 40px;
    padding: 7px 55px;
    border-radius: 25px;
    border: none;
    background-color: #f1b162;
    color: #062b60;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    box-shadow: -5px 7px 0px 0px;
}
button.btn.btn-primary:hover{
    background-color: #fca73f;
}
button.btn.btn-primary:active{
    transform: scale(0.9);
}
.modal-content{
    background-image: url(img/crear\ mensaje\ 2.png);
    background-size: cover;/* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: center;/*La centrará*/
    border-radius: 50px;
}
div.row.row-cols-1.row-cols-md-3.g-4{
    margin: 40px 160px 10px;
    text-align: center;
}
.modal-header{
    justify-content: center;
    text-align: center;
    padding: 227px 0px 55px;
    border: none;
}
.modal-footer{
    justify-content: center;
    padding: 10px 0px 20px;
    border: none;
}
p.card-text{
    font-size: 15px;
    margin-bottom: 1rem;
    font-weight: bold;
}
/*********************************************************PRECARGA*/
.precarga-body{
    background-image: url(img/Pantalla\ de\ carga2.png);
    background-size: cover;/* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: center;/*La centrará*/
}
.subtitulo-precarga{
    font-weight: lighter;
    margin-top: 3%;
    color: #ffffff;
    text-align: center;
}
.precarga-boton{
    padding: 11px 15px;
    border-radius: 8px;
    border: none;
    background-color: #085cd1;
    color: #ffffff;
    font-size: 14px;
    margin-top: 50px;
    cursor: pointer; /*el cursor cambia a la manito (👆)*/
    text-decoration: none;
}
.precarga-boton:hover{
    background-color: #074daf;
}
.precarga-boton:active{
    transform: scale(0.9);
}
/*********************************************************ANIMACIÓN*/
/*
.animacion{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background: #20388b;
    flex-direction: column;
}
svg {
  max-height: 25vh;
  overflow:visible;
}
path {
  fill: #379157;
  stroke: #379157;
  stroke-width: .2;
  transform: scale(0);
  transform-origin: 50% 50%;
  animation: star 8s ease-in-out infinite;
  animation-delay: calc( var(--no) * .025s );
  transform-box: fill-box;
}
@keyframes star {
  0% {
    transform: scale(0);
    animation-timing-function: cubic-bezier(.74,1.72,.57,1.01)
  }
  10% {
    transform: scale(1);
  }
  65% {
    transform: translateY(0px) scale(1);
  }
  75% {
    transform: translateY(50px) scale(0);
  }
  100% {
    transform: translateY( 0px ) scale(0);
  }
}

body:after {
  color: #fff;
  font-family: sans-serif;
  position: absolute;
  bottom: 1vh;
  right: 1vw;
}
  */
/*********************************************************VIDEO*/
.video{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex-direction: column;
}
