body{
    font-family: Arial, Helvetica, sans-serif;   
}

/*********************************************************PORTADA*/
.portada-body{
    background-image: url(img/desktop/Inicio3.png); 
    background-size: 100% 100%;
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: center;/*La centrará*/
    background-attachment: fixed;
    min-height: 100vh
}
.portada{
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 430px;
    flex-direction: column;
}
.titulo-portada{
    color: #ffffff;
    font-weight: 900;
    font-size: 70px;
    margin-bottom: -2px;
}
.subtitulo-portada{
    color: #ffffff;
    font-weight: 700;
    margin-top: 0%;
    font-size: 50px;
    margin-bottom: -10px;
}
.portada-boton{
    padding: 7px 85px;
    border-radius: 25px;
    border: none;
    background-color: #f1b162;
    color: #062b60;
    font-size: 18px;
    margin: 32px 0px 0px 110px;
    cursor: pointer; /*el cursor cambia a la manito (👆)*/
    text-decoration: none;
    font-weight: 800;
    box-shadow: -5px 7px 0px 0px;
}
.portada-boton:hover{
    background-color: #fca73f;
}
.portada-boton:active{
    transform: scale(0.9);
}
/*********************************************************FORMULARIO*/
.formulario-body{
    background-image: url(img/desktop/Formulario1.png); 
    background-size: 1600px 750px;
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: top center;/*La centrará*/
}
.fondo-blanco{
    background-color: #ffffff;
    width: 440px;
    height: 525px;
    margin: 50px auto;
    border-radius: 30px;
}
.titulo-formulario{
    text-align: center;
    margin-top: 32px;
    /*background-color: #1058d0;*/
    color: #1058d0;
    font-weight: 700;
}
.formulario{
    display: grid;
    justify-content: center;
    margin-top: 75px;
    grid-template-columns: 330px;
    color: #062b60;
    font-weight: 700;
    font-size: 16px;
}
select{
    border-radius: 10px;
    padding: 7px;
    width: 100%;
    border: 3px solid #062b60;
}
.genero{
    margin-bottom: 10px;
}
.nombre{
    margin-bottom: 10px;
}
#nombre{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 3px solid #062b60;
}
.numero{
    margin-bottom: 10px;
}
#numero{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 3px solid #062b60;
}
.email{
    margin-bottom: 10px;
}
#email{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 3px solid #062b60;
}
.edad{
    margin-bottom: 27px;
}
.formulario-boton{
    text-align: center;
}
.submit-boton{
    padding: 7px 85px;
    border-radius: 25px;
    border: none;
    background-color: #f1b162;
    color: #062b60;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    box-shadow: -5px 7px 0px 0px;
}
.submit-boton:hover{
    background-color: #fca73f;
}
.submit-boton:active{
    transform: scale(0.9);
}
/*********************************************************PRODUCTO*/
.producto-body{
    background-image: url(img/desktop/Selección\ de\ bicis1.png); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
.producto{
    display: grid;
    justify-content: center;
}
.titulo-producto{
    font-family: Arial, Helvetica, sans-serif;   
    text-align: center;
    margin-top: 120px;
    color: #ffffff;
    font-weight: 700;
}
button.btn.btn-primary{
    margin: 40px;
    padding: 7px 55px;
    border-radius: 25px;
    border: none;
    background-color: #f1b162;
    color: #062b60;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    box-shadow: -5px 7px 0px 0px;
}
button.btn.btn-primary:hover{
    background-color: #fca73f;
}
button.btn.btn-primary:active{
    transform: scale(0.9);
}
.modal-content{
    background-image: url(img/desktop/crear\ mensaje\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: center;/*La centrará*/
    border-radius: 50px;
}
div.row.row-cols-1.row-cols-md-3.g-4{
    margin: 40px 160px 10px;
    text-align: center;
}
.modal-header{
    justify-content: center;
    text-align: center;
    padding: 227px 0px 55px;
    border: none;
}
.modal-footer{
    justify-content: center;
    padding: 10px 0px 20px;
    border: none;
}
p.card-text{
    font-size: 15px;
    margin-bottom: 1rem;
    font-weight: bold;
}
/*********************************************************PRECARGA*/
.precarga-body{
    background-image: url(img/desktop/Pantalla\ de\ carga1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: top center;/*La centrará*/
    background-attachment: fixed;
}
.subtitulo-precarga{
    font-weight: 700;
    margin-top: 2%;
    color: #ffffff;
    text-align: center;
}
.precarga-boton{
    padding: 11px 15px;
    border-radius: 8px;
    border: none;
    background-color: #085cd1;
    color: #ffffff;
    font-size: 14px;
    margin-top: 50px;
    cursor: pointer; /*el cursor cambia a la manito (👆)*/
    text-decoration: none;
}
.precarga-boton:hover{
    background-color: #074daf;
}
.precarga-boton:active{
    transform: scale(0.9);
}
/*********************************************************NIEVE*/
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}
/*********************************************************ANIMACIÓN*/
.animacion{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
}
svg {
  max-height: 25vh;
  overflow:visible;
}
path {
  fill: #379157;
  stroke: #379157;
  stroke-width: .2;
  transform: scale(0);
  transform-origin: 50% 50%;
  animation: star 8s ease-in-out infinite;
  animation-delay: calc( var(--no) * .025s );
  transform-box: fill-box;
}
@keyframes star {
  0% {
    transform: scale(0);
    animation-timing-function: cubic-bezier(.74,1.72,.57,1.01)
  }
  10% {
    transform: scale(1);
  }
  65% {
    transform: translateY(0px) scale(1);
  }
  75% {
    transform: translateY(50px) scale(0);
  }
  100% {
    transform: translateY( 0px ) scale(0);
  }
}
body:after {
  color: #fff;
  font-family: sans-serif;
  position: absolute;
  bottom: 1vh;
  right: 1vw;
}
/*********************************************************VIDEO*/
.video{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex-direction: column;
}

@media (max-width:480px) {
/*********************************************************PORTADA*/
.portada-body{
    background-image: url(img/celular/Inicio3.png); 
    background-size: 100% 100%;
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: center;/*La centrará*/
    background-attachment: fixed;
}
.portada {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 335px;
    flex-direction: column;
}
.subtitulo-portada {
    margin-top: 0%;
    font-size: 30px;
    margin-bottom: -7px;
}
.titulo-portada {
    font-size: 40px;
    margin-bottom: -2px;
}
.portada-boton{
    padding: 7px 60px;
    font-size: 16px;
    margin: 29px 0px 0px 0px;
}
/*********************************************************FORMULARIO*/
.formulario-body{
    background-image: url(img/celular/Formulario1.png); 
    background-size: cover;
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: top center;/*La centrará*/
}
.fondo-blanco {
    background-color: #ffffff;
    width: 340px;
    height: 448px;
    margin: 50px auto;
    border-radius: 30px;
}
.formulario {
    margin-top: 50px;
    grid-template-columns: 295px;
    font-size: 14px;
}
.titulo-formulario {
    margin-top: 23px;
    margin-bottom: 10px;
}
#nombre{
    padding: 3px;
}
#numero{
    padding: 3px;
}
#email{
    padding: 3px;
}
#genero{
    padding: 3px;
}
select{
    padding: 3px;
}
.submit-boton {
    padding: 7px 50px;
    font-size: 16px;
}
/*********************************************************PRODUCTO*/
.producto-body{
    background-image: url(img/celular/Selección\ bicis1.png); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
.titulo-producto {
    margin-top: 75px;
    font-size: 24px;
}
div.row.row-cols-1.row-cols-md-3.g-4 {
    margin: 10px 70px 10px;
}
button.btn.btn-primary {
    padding: 7px 50px;
    font-size: 16px;
}
.modal-content {
    margin: 0px 37px;
}
.modal-header {
    padding: 170px 0px 10px;
}
.modal-footer {
    padding: 0px 0px 15px;
}
/*********************************************************PRECARGA*/
.precarga-body{
    background-image: url(img/celular/Pantalla\ de\ carga1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;/* Evita que se repita */
    background-position: top center;/*La centrará*/
    background-attachment: fixed;
}
.subtitulo-precarga {
    margin-top: 2%;
}
    
}
