body{
    font-family: Arial, Helvetica, sans-serif;   
}

/*********************************************************PORTADA*/
.portada{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex-direction: column;
}
.titulo-portada{
    color: #085cd1;
    font-weight: bolder;
}
.subtitulo-portada{
    font-weight: lighter;
    margin-top: 0%;
}
.portada-boton{
    padding: 11px 35px;
    border-radius: 8px;
    border: none;
    background-color: #085cd1;
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer; /*el cursor cambia a la manito (👆)*/
    text-decoration: none;
}
.portada-boton:hover{
    background-color: #074daf;
}
.portada-boton:active{
    transform: scale(0.9);
}
/*********************************************************FORMULARIO*/
.titulo-formulario{
    text-align: center;
    margin-top: 120px;
}
.formulario{
    display: grid;
    justify-content: center;
    margin-top: 85px;
    grid-template-columns: 330px;
}
select{
    margin-top: 10px;
    border-radius: 10px;
    padding: 7px;
    width: 100%;
}
.genero{
    margin-bottom: 20px;
}
.nombre{
    margin-bottom: 20px;
}
#nombre{
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border-width: 1px;
}
.edad{
    margin-bottom: 50px;
}
.formulario-boton{
    text-align: center;
}
.submit-boton{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #085cd1;
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
}
.submit-boton:hover{
    background-color: #074daf;
}
.submit-boton:active{
    transform: scale(0.9);
}
/*********************************************************PRODUCTO*/
.producto{
    display: grid;
    justify-content: center;
}
.titulo-producto{
    font-family: Arial, Helvetica, sans-serif;   
    text-align: center;
    margin-top: 120px;
}
.producto-boton{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #085cd1;
    color: #ffffff;
    font-size: 14px;
    margin: 20px 115px 0px 115px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
button.btn.btn-primary{
    margin: 40px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #085cd1;
    font-size: 14px;
}
.producto-boton:hover{
    background-color: #074daf;
}
.producto-boton:active{
    transform: scale(0.9);
}
div.row.row-cols-1.row-cols-md-3.g-4{
    margin: 40px 160px 10px;
    text-align: center;
}
.modal-header{
    justify-content: center;
    text-align: center;
    padding: 95px 80px 55px;
    border: none;
}
.modal-footer{
    justify-content: center;
    padding: 10px 0px 20px;
    border: none;
}
p.card-text{
    font-size: 15px;
    margin-bottom: 1rem;
    font-weight: bold;
}
